body {
    background-color: lightblue;
}

.card-custom {
    background-color: navajowhite;
}

.navbar {
    background-color: #4831D4;
}

.navbar-brand {
    color: #FEE715;
    font-size: 32px;
    font-weight: bold;
}

.navbar-nav .nav-link {
    color: #FFF;
}

.nav-link:hover {
    background-color: #CCF381;
}